trigger: none

variables:
  # Azure Service Principal credentials
  - group: 'acr-sp-push'

  # Docker/ACR info
  - name: ACR_NAME
    value: 'fstefanovacrlearning'
  - name: IMAGE_NAME
    value: 'fstefanovvpythonsamplevscodeflasktutorial'

stages:
- stage: BuildAndPush
  displayName: Build and Push Docker Image
  jobs:
  - job: Build
    displayName: Build Job
    pool:
      name: 'Azure Pipelines'
    steps:
    - script: |
        echo "Configuring Azure CLI timeouts"
        az config set core.http_timeout=600
        az config set core.request_timeout=600
      displayName: 'Configure Azure CLI Timeouts'
    # Login to Azure using Service Principal (plain script)
    - script: |
        echo "Logging in with service principal"
        az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID
        az account set --subscription $AZURE_SUBSCRIPTION_ID
      displayName: 'Login to Azure using Service Principal'

    # Login to ACR using the SP
    - script: |
        echo "Logging in to ACR"
        az acr login --name $(ACR_NAME)
      displayName: 'Login to ACR'

    # Build Docker image
    - script: |
        docker build -t $(ACR_NAME).azurecr.io/$(IMAGE_NAME):${BUILD_SOURCEVERSION:0:7} .
      displayName: 'Build Docker Image'

    # Push Docker image
    - script: |
        docker push $(ACR_NAME).azurecr.io/$(IMAGE_NAME):${BUILD_SOURCEVERSION:0:7}
      displayName: 'Push Docker Image'
